.applications-title {
    display: flex;
    justify-content: space-between;
}

.applications-title .number {
    font-size: 1.4em;
}

.application {
    margin: 20px 0;
    border-radius: 6px;
}

.application-position {
    font-size: 1.1em;
}

.application-city {
    color: var(--gray-font);
}

.application-info {
    padding: 20px;
}

.application-body {
    padding: 10px 20px;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: var(--gray-font);
}